@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Identity
@using unimade.MTPortal.Localization
@using unimade.MTPortal.Web.Pages.Internal.Users
@model EditModalModel
@inject IStringLocalizer<MTPortalResource> L
@{
    Layout = null;
}

@section scripts {
    <abp-script src="/Pages/Internal/Users/CreateUpdateModals.js"></abp-script>
}


<form method="post" asp-page="/Internal/Users/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="create-user-modal-tabs">
                <abp-tab title="@L["UserInformations"].Value">
                    <div class="mt-3">
                        <input asp-for="Id" />
                        <input hidden asp-for="UserInfo.ConcurrencyStamp" />
                        <abp-input asp-for="UserInfo.UserName" />
                        <abp-input asp-for="UserInfo.Name" />
                        <abp-input asp-for="UserInfo.Surname" />
                        <div class="mb-3">
                            <label asp-for="UserInfo.Password" class="form-label">@L["Password"]</label>
                            <div class="input-group">
                                <input type="password" class="form-control" autocomplete="new-password" maxlength="@IdentityUserConsts.MaxPasswordLength" asp-for="UserInfo.Password" />
                                <button class="btn btn-secondary" type="button" id="PasswordVisibilityButton">
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <span asp-validation-for="UserInfo.Password"></span>
                        </div>
                        <abp-input asp-for="UserInfo.Email" />
                        <abp-input asp-for="UserInfo.PhoneNumber" />
                        @if (!Model.IsEditCurrentUser)
                        {
                            <abp-input asp-for="UserInfo.IsActive" />
                        }
                        <abp-input asp-for="UserInfo.LockoutEnabled" label-tooltip="@L.GetString("Description:LockoutEnabled")" />
                    </div>
                </abp-tab>
                <abp-tab title="@L["Details"].Value">
                    <div class="mt-3">
                        <div class="mb-3">
                            <span class="fw-bold">@L["CreatedBy"] :</span> @ConvertUserFriendlyFormat(Model.Detail.CreatedBy)
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">@L["CreationTime"] :</span> @ConvertUserFriendlyFormat(Model.Detail.CreationTime)
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">@L["ModifiedBy"] :</span> @ConvertUserFriendlyFormat(Model.Detail.ModifiedBy)
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">@L["ModificationTime"] :</span> @ConvertUserFriendlyFormat(Model.Detail.LastModificationTime)
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">@L["PasswordUpdateTime"] :</span> @ConvertUserFriendlyFormat(Model.Detail.LastPasswordChangeTime)
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">@L["LockoutEndTime"] :</span> @ConvertUserFriendlyFormat(Model.Detail.LockoutEnd)
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">@L["FailedAccessCount"] :</span> @Model.Detail.AccessFailedCount
                        </div>
                    </div>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

@functions
{
    const string DateTimeFormat = "MMMM dd, yyyy — HH:mm";
    const string DefaultEmptyValue = "-";

    static string ConvertUserFriendlyFormat(DateTime? dateTime)
    {
        return dateTime == null ? DefaultEmptyValue : dateTime.Value.ToUniversalTime().ToString(DateTimeFormat);
    }

    static string ConvertUserFriendlyFormat(DateTimeOffset? dateTime)
    {
        return dateTime == null ? DefaultEmptyValue : dateTime.Value.UtcDateTime.ToString(DateTimeFormat);
    }

    static string ConvertUserFriendlyFormat(string value)
    {
        return value.IsNullOrWhiteSpace() ? DefaultEmptyValue : value;
    }
}
